# Listas, tuplas y diccionarios


Tanto las tuplas, como listas y diccionarios, **son una forma de almacenar varios datos diferentes, de diversos tipos (cadenas de texto, enteros, flotantes, booleanos…) en una misma variable.**

**El orden en el cual estos datos se especifican dentro de la variable, se denomina índice**, teniendo **el primer dato** un **índice 0 (cero)**, el siguiente 1, y así incrementalmente.

Veamos estos tres nuevos tipos de datos en detalle:

In [4]:
a=[1,2,1,"hlasd","lajsdf",23.32,1,1,1]
b=(1,2,1,"hlasd","lajsdf",23.32,1,1,1)
c={1,2,1,"hlasd","lajsdf",23.32,1,1,1}
d={"a":1,"b":2}

In [5]:
print(a)
print(b)
print(c)
print(d)

[1, 2, 1, 'hlasd', 'lajsdf', 23.32, 1, 1, 1]
(1, 2, 1, 'hlasd', 'lajsdf', 23.32, 1, 1, 1)
{1, 2, 'hlasd', 23.32, 'lajsdf'}
{'a': 1, 'b': 2}

In [3]:
type(a),type(b),type(c),type(d)

(list, tuple, set, dict)

# Tuplas

In [6]:
leche = "leche"
tupla_a = ('pan', leche, 100, 1234, True, 234.3)
lista_a = ['pan', leche, 100, 1234, True, 234.3,tupla_a]
print (tupla_a[2])
print (lista_a[2])

100
100

In [7]:
lista_a

['pan',
 'leche',
 100,
 1234,
 True,
 234.3,
 ('pan', 'leche', 100, 1234, True, 234.3)]

In [27]:
for i in tupla_b:
    print(i)

pan
leche
100

In [9]:
for i in [1,234,52345.2345,"hola"]:
    print(i)

1
234
52345.2345
hola

### Las tuplas son secuencias, igual que las cadenas, y se puede utilizar la misma notación de índices que en las cadenas para obtener cada una de sus componentes.

In [10]:
tupla_a

('pan', 'leche', 100, 1234, True, 234.3)

In [11]:
tupla_a[3],lista_a[3]

(1234, 1234)

In [9]:
tupla_a[5]

234.3

In [10]:
tupla_a[10]

IndexError: tuple index out of range

# Nota:  <font color="#8A0829">Las tuplas son inmutables. </font>
## <font color="#8A0829"> Los datos contenidos en una tupla no pueden modificarse. </font>

In [13]:
tupla_a[5]+50

284.3

In [14]:
tupla_a[5] = 234.4

TypeError: 'tuple' object does not support item assignment

# Longitud de tuplas

Se les puede aplicar la función **len()** para calcular su longitud. Esta función nos indica cuántas componentes tiene esa tupla.

In [6]:
len(tupla_a)

6

# Empaquetado de tuplas

Si a una variable se le asigna una secuencia de valores separados por comas, el valor de esa variable será la tupla formada por todos los valores asignados.

A esta operación se la denomina **empaquetado de tuplas**.

In [12]:
a='pan'
b="leche"
c=100

tupla_b = a,b,c
lista_b = [a,b,c]
print (tupla_b," es ",type(tupla_b))

('pan', 'leche', 100)  es  <class 'tuple'>

# Desempaquetado de tuplas

Si se tiene una tupla de longitud i, se puede asignar la tupla a i variables distintas y en cada variable quedará una de las componentes de la tupla. 

A esta operación se la denomina **desempaquetado de tuplas.**

In [28]:
tupla_b

['pan', 'leche', 100]

In [8]:
c,b,a = tupla_b
print (a,b,c)

100 leche pan

In [10]:
c,b= tupla_b

ValueError: too many values to unpack (expected 2)

In [11]:
d,c,b,a = tupla_b

ValueError: not enough values to unpack (expected 4, got 3)

In [13]:
print (tupla_b)
b,b,b = tupla_b
print (b)

('pan', 'leche', 100)
100

In [17]:
print (tupla_b)
b,b,b = tupla_b
print (b)

('pan', 'leche', 100)
100

In [18]:
leche="leche"
tupla_a = ('pan', leche, 100, 1234, True, 234.3)
lista_a = ['pan', 'leche', 100, 1234, True, 234.3]
tupla_a,lista_a

(('pan', 'leche', 100, 1234, True, 234.3),
 ['pan', 'leche', 100, 1234, True, 234.3])

# Listas

Usaremos listas para poder modelar datos compuestos pero **cuya cantidad y valor varían a lo largo del tiempo**. 

<font color="#8A0829"> **Son secuencias mutables** </font>  y vienen dotadas de una variedad de operaciones muy útiles.

In [14]:
lista_a = ['pan', 'leche', 100, 1234, True, 234.3]
print (lista_a)

['pan', 'leche', 100, 1234, True, 234.3]

In [17]:
lista_a[-2]

True

In [32]:
# Que indice necesito para obtener el valor 100 

lista_a[len(lista_a)-1]

234.3

In [33]:
l = ["a","b","c"]
t = ("a","b","c")
l[-2],t[-3]

('c', 'a')

In [16]:
lista_a[0]

'pan'

In [17]:
lista_a[-1]

234.3

In [18]:
lista_a[10]

IndexError: list index out of range

# Cómo mutar listas

Dijimos antes que las listas son secuencias mutables. 

Para lograr la mutabilidad Python provee operaciones que nos permiten **cambiarle valores, agregarle valores y quitarle valores.**

In [20]:
print (lista_a)
lista_a[5] = 234.5
print (lista_a)ç

['pan', 'leche', 100, 1234, True, 234.5]
['pan', 'leche', 100, 1234, True, 234.5]

In [48]:
lista_a.append("Hola Mundo")
print (lista_a)

['pan', 'leche', 100, 1234, True, 234.5, 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo']

In [129]:
lista_a.insert(2,"Miel")
print (lista_a)

['pan', 'leche', 'Miel', 100, 1234, True, 234.5, 'Hola Mundo']

In [54]:
lista_a.remove("Hola Mundo")
print (lista_a)

['pan', 'leche', 100, 1234, True, 234.5]

In [72]:
lista_a.remove("Hola Mundo")
print (lista_a)

['pan', 'leche', 100, 1234, True, 234.5, 'Hola Mundo', 'Hola Mundo', 'Hola Mundo', 'Hola Mundo']

In [131]:
lista_a.remove(4)
print (lista_a)

ValueError: list.remove(x): x not in list

In [56]:
print (lista_a)
lista_a.index("Miel"),lista_a.index(True)

['pan', 'leche', 100, 1234, True, 234.5]

4

In [133]:
lista_a.index("Miel2")

ValueError: 'Miel2' is not in list

In [57]:
print (lista_a)

['pan', 'leche', 100, 1234, True, 234.5]

In [60]:
print (lista_a)
del lista_a[2]
print (lista_a)

['pan', 'leche', True, 234.5]
['pan', 'leche', 234.5]

In [61]:
print (lista_a)
lista_a.remove("leche")
print (lista_a)

['pan', 'leche', 234.5]
['pan', 234.5]

In [135]:
print (lista_a)

['pan', 'leche', 100, 1234, True, 234.5]

In [136]:
lista_a

['pan', 'leche', 100, 1234, True, 234.5]

In [73]:
lista_a[2:5]

[100, 1234, True]

In [138]:
# Hay una manera de quitar un ítem de una lista dado su índice en lugar de su valor
del lista_a[2:4]
print (lista_a)

['pan', 'leche', True, 234.5]

In [87]:
lista_b = []
print (lista_b)
lista_b.append("pan")
print (lista_b)
lista_b.append("leche")
print (lista_b)

[]
['pan']
['pan', 'leche']

In [81]:
lista_b.append("leche")
lista_b

['pan', 'leche', 'leche', 'leche', 'leche']

In [141]:
len(lista_b)

2

# Longitud de listas

Se les puede aplicar la función **len()** para calcular su longitud. Esta función nos indica cuántas componentes tiene esa lista.

In [142]:
len(lista_a)

4

# Conversión de tipos

In [76]:
tupla = (1, 2, 3, 4) 
print (tupla)
len(tupla)

(1, 2, 3, 4)

4

In [144]:
list(tupla)

[1, 2, 3, 4]

In [145]:
lista = [1, 2, 3, 4]

In [146]:
tuple(lista)

(1, 2, 3, 4)

# En Python, las listas, las tuplas y las cadenas son parte del conjunto de las secuencias. Todas las secuencias cuentan con las siguientes operaciones:

In [49]:
tupla_a = ('pan', 'leche', 100, 1234, True, 234.3) # tupla
lista_a = ['pan', 'leche', 100, 1234, True, 234.3] # lista
string_a = "pan leche 100 1235 True 234.3" #cadena

In [214]:
print(tupla_a)
print(lista_a)
print(string_a)

('pan', 'leche', 100, 1234, True, 234.3)
['pan', 'leche', 100, 1234, True, 234.5, 'Hola Mundo']
pan leche 100 1235 True 234.3

In [217]:
string_a[10:-1]

'100 1235 True 234.'

# Operandor <font color = "red"> in </font>

Ej. X **in** Y  

Indica si la variable X se encuentra en Y

In [50]:
"leche" in tupla_a

True

In [51]:
"leche" in lista_a

True

In [52]:
"leche" in string_a

True

# Concantena las secuencias X y Y

Ej. X + Y

In [222]:
"Hola    kljl"+ "Mundo"+"ITESO"

'Hola    kljlMundoITESO'

In [83]:
tupla_a = ('pan', 'leche', 100, 1234, True, 234.3) # tupla
lista_a = ['pan', 'leche', 100, 1234, True, 234.3] # lista

list(tupla_a)+lista_a
tupla_a + tuple ( lista_a)

('pan',
 'leche',
 100,
 1234,
 True,
 234.3,
 'pan',
 'leche',
 100,
 1234,
 True,
 234.3)

In [54]:
a= tupla_a + tupla_a
a

('pan',
 'leche',
 100,
 1234,
 True,
 234.3,
 'pan',
 'leche',
 100,
 1234,
 True,
 234.3)

In [55]:
lista_a +lista_a

['pan',
 'leche',
 100,
 1234,
 True,
 234.3,
 'pan',
 'leche',
 100,
 1234,
 True,
 234.3]

In [56]:
string_a + string_a

'pan leche 100 1235 True 234.3pan leche 100 1235 True 234.3'

In [148]:
lista_a + list(tupla_a)

['pan',
 'leche',
 100,
 1234,
 True,
 234.3,
 'pan',
 'leche',
 100,
 1234,
 True,
 234.3]

In [149]:
tuple (lista_a) + tupla_a

('pan',
 'leche',
 100,
 1234,
 True,
 234.3,
 'pan',
 'leche',
 100,
 1234,
 True,
 234.3)

# Elemento i de Y, empezando por 0

Ej. Y[i]

In [59]:
tupla_a[1]

'leche'

In [60]:
lista_a[1]

'leche'

In [61]:
string_a[1]

'a'

# Porción de la secuencia Y desde i hasta j (no inclusive)

Ej. Y[i:j]

In [62]:
tupla_a[1:4]

('leche', 100, 1234)

In [63]:
lista_a[1:4]

['leche', 100, 1234]

In [64]:
string_a[1:6]

'an le'

# Porción de la secuencia Y desde i hasta j (no inclusive), con paso k

Ej. Y[i:j:k]

In [65]:
print (tupla_a)
tupla_a[0:6:2]

('pan', 'leche', 100, 1234, True, 234.3)

('pan', 100, True)

In [66]:
lista_a[0:6:2]

['pan', 100, True]

In [67]:
string_a[1:len(string_a):2]

'a eh 0 25Tu 3.'

# Copiar datos

In [1]:
x=5
y=x

In [2]:
y=6
print(x,y)

5 6

In [3]:
x=(5,6,7)
y=x

In [4]:
y= (7,8)
print (x,y)

(5, 6, 7) (7, 8)

In [11]:
x = [8,9,10]
y=x #.copy() # [:]

In [12]:
y[0]= 11
print (x,y)

[11, 9, 10] [11, 9, 10]

# Diccionarios

- Se encierra el listado de valores entre llaves **{}**, 
- Las parejas de clave y valor se separan con comas
- La clave y el valor se separan con **:**.

Ej. {Clave1:valor1, Clave2:valor2,...}

## <font color = "red"> No puede haber dos keys iguales, aunque sí dos valores iguales. </font>

In [65]:
[1,2,4,6,4]
(1,2,4,6,4)
{"a":1,"b":2,"c":3}
{1,2,4,6,4}

{1, 2, 4, 6}

In [66]:
type ( {1,2,4,6,4}), type({"a":1,"b":2,"c":3}) ,type ( (1,2,4,6,4) ),type ( [1,2,4,6,4] )

(set, dict, tuple, list)

In [77]:
diccionario_a = {"Pedro":100,"Juan":300,"Carlos":2000,"Diego":1000}

In [78]:
diccionario_a["Pedro"]

100

In [79]:
diccionario_a["Juan"]

KeyError: 'juan'

In [81]:
diccionario_b={}
diccionario_b
type(diccionario_b)

dict

In [82]:
diccionario_b["a2"] = 4

In [76]:
print(diccionario_b)

{'a2': 4}

In [86]:
diccionario_b["b"] = 9
print(diccionario_b)

{'a2': 4, 'b': 9, 0: 9}

In [88]:
diccionario_b[0]

9

In [85]:
len(diccionario_b)

2

In [79]:
diccionario_b["c"] = 120
print(diccionario_b)

{'a2': 4, 'b': 6, 'c': 120}

In [80]:
print(diccionario_b)

{'a2': 4, 'b': 6, 'c': 120}

In [81]:
del diccionario_b["b"]
print(diccionario_b)

{'a2': 4, 'c': 120}

In [84]:
a = dict(one=1, two=2, three=3)
a

{'one': 1, 'three': 3, 'two': 2}

In [35]:
a = dict(one=1, two=2, three=3)
b = {'one': 1, 'two': 2, 'three': 3}
c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
d = dict([('two', 2), ('one', 1), ('three', 3)])
e = dict({'three': 3, 'one': 1, 'two': 2})

a == b == c == d == e

True

In [36]:
a

{'one': 1, 'three': 3, 'two': 2}

In [28]:
nombres = ["Pedro","Juan","Carlos","Diego"]
diccionario1 = dict.fromkeys(nombres)

print (diccionario1)

{'Pedro': None, 'Juan': None, 'Carlos': None, 'Diego': None}

In [82]:
diccionario1["Juan"]=80

In [83]:
diccionario1

{'Carlos': None, 'Diego': None, 'Juan': 80, 'Pedro': None}

In [1]:
nombres = ["Pedro","Juan","Carlos","Diego"]
valores = (100,300,2000,1000)

diccionario1 = dict.fromkeys(nombres,valores)

print (diccionario1)

{'Pedro': (100, 300, 2000, 1000), 'Juan': (100, 300, 2000, 1000), 'Carlos': (100, 300, 2000, 1000), 'Diego': (100, 300, 2000, 1000)}

In [86]:
nombres = ["Pedro","Juan","Carlos","Diego"]
valores = (100,300,2000,1000)

In [87]:
list(zip(nombres,valores) )

[('Pedro', 100), ('Juan', 300), ('Carlos', 2000), ('Diego', 1000)]

In [33]:
a = zip(["a","b","c"],[1,2,3],["a1","a2","a3","a4"])
list(a)

[('a', 1, 'a1'), ('b', 2, 'a2'), ('c', 3, 'a3')]

# <font color = "blue"> NOTA </font>
El algoritmo que usa Python internamente para buscar un elemento en un diccionario es muy distinto que el que utiliza para buscar en listas.

**Para buscar en las listas**, se utiliza un **algoritmos de comparación** que tarda cada vez más a medida que la lista se hace más larga. 

En cambio, para **buscar en diccionarios** se utiliza un **algoritmo llamado hash**, que se basa en realizar un cálculo numérico sobre la clave del elemento, y tiene una propiedad muy interesante: **sin importar cuántos elementos tenga el diccionario, el tiempo de búsqueda es siempre aproximadamente igual.**

Este algoritmo de hash es también la razón por la cual las claves de los diccionarios deben ser inmutables, ya que la operación hecha sobre las claves debe dar siempre el mismo resultado, y si se utilizara una variable mutable esto no sería posible.

# Conjuntos

Python también incluye un tipo de dato para conjuntos. Un conjunto es una colección no ordenada y sin elementos repetidos. Los usos básicos de éstos incluyen verificación de pertenencia y eliminación de entradas duplicadas. Los conjuntos también soportan operaciones matemáticas como la unión, intersección, diferencia, y diferencia simétrica.

### Las llaves o la función set() pueden usarse para crear conjuntos.

### <font color = "red"> Notá que para crear un conjunto vacío tenés que usar set(), no {}; esto último crea un diccionario vacío </font>

In [86]:
set_a = {1,"a",2,"z","b",2,"a","a"}
set_a

{1, 2, 'a', 'b', 'z'}

In [90]:
set_b = set(['pan', 'leche', 100, 1234, True, 234.3,"pan","leche"])
set_b

{100, 1234, 234.3, True, 'leche', 'pan'}

In [91]:
set_c = set(('pan', 'leche', 100, 1234, True, 234.3,"pan","leche"))
set_c

{100, 1234, 234.3, True, 'leche', 'pan'}

In [92]:
set_a = set(['pan', 'leche', 100, 1234, True, 234.3,"pan","leche",'banana'])
set_b = set( ['pan', 'leche', 100, 1234, True, 234.3,"pan","leche",'pera', 'manzana', 'naranja'])
set_b

{100, 1234, 234.3, True, 'leche', 'manzana', 'naranja', 'pan', 'pera'}

# Operadores con conjuntos

In [58]:
A= {1,2,3,4}
B= set([3,4,5,6])

In [49]:
A-B

{1, 2}

In [50]:
A & B

{3, 4}

In [51]:
A | B

{1, 2, 3, 4, 5, 6}

In [52]:
A ^ B

{1, 2, 5, 6}

In [90]:
A.pop(),A

(3, {4})

In [98]:
print (set_a)
print (set_b)

{True, 100, 'banana', 234.3, 1234, 'pan', 'leche'}
{True, 100, 234.3, 'manzana', 1234, 'pan', 'leche', 'pera', 'naranja'}

In [99]:
set_b-set_a # elementos en set_b pero no en set_a

{'manzana', 'naranja', 'pera'}

In [100]:
set_b | set_a # elementos en b o en a

{100,
 1234,
 234.3,
 True,
 'banana',
 'leche',
 'manzana',
 'naranja',
 'pan',
 'pera'}

In [101]:
set_b & set_a # elementos en b y en a

{100, 1234, 234.3, True, 'leche', 'pan'}

In [102]:
set_b ^ set_a # Elementos en a o b pero no en ambos

{'banana', 'manzana', 'naranja', 'pera'}

In [103]:
set_b[1] #Es una colección no ordenada

TypeError: 'set' object does not support indexing

In [63]:
for i in A:
    print (i)

1
2
3
4

In [97]:
for i in {1,6,5,7,8,5,5,5,}:
    print (i)

1
5
6
7
8

In [89]:
for i in [1,6,7,8]:
    print (i)

1
6
7
8

In [106]:
for i in set_b:
    print (i)

True
100
234.3
manzana
1234
pan
leche
pera
naranja

In [107]:
len(set_b)

9

# Técnicas de iteración

In [91]:
for i in ["leche",'pera', 'manzana', 'naranja']:
    print(i)

leche
pera
manzana
naranja

In [108]:
for i, v in enumerate( ["leche",'pera', 'manzana', 'naranja'] ):
    print(i, v)

0 leche
1 pera
2 manzana
3 naranja

In [101]:
for i in enumerate( ["leche",'pera', 'manzana', 'naranja'] ):
    print(i[0],i[1])

0 leche
1 pera
2 manzana
3 naranja

In [100]:
i,v = (0, 'leche')
v

'leche'

In [92]:
dic_a = {"a":4,"b":3,"c":2,"d":1}
for i in dic_a:
    print (i,dic_a[i])

a 4
b 3
c 2
d 1

In [160]:
dic_a = {"a":4,"b":3,"c":2,"d":1}
for k, v in dic_a.items():
    print(k, v)

a 4
b 3
c 2
d 1

Para iterar sobre dos o más secuencias al mismo tiempo, los valores pueden emparejarse con la función **zip()**.

In [90]:
nombres = ["Pedro","Juan","Carlos","Diego"]
valores = (100,300,2000,1000,45,234)

for k in zip(nombres, valores):
    print (k,k[0],k[1])

('Pedro', 100) Pedro 100
('Juan', 300) Juan 300
('Carlos', 2000) Carlos 2000
('Diego', 1000) Diego 1000

In [89]:
a = 8,3
a

(8, 3)

In [93]:
nombres = ["Pedro","Juan","Carlos","Diego"]
valores = (100,300,2000,1000,45,234)

for k, v in zip(nombres, valores):
    print (k+" ===== "+str(v))

Pedro ===== 100
Juan ===== 300
Carlos ===== 2000
Diego ===== 1000

In [112]:
nombres = ["Pedro","Juan","Carlos","Diego"]
valores = (100,300,2000,1000)

diccionario1 = dict(zip(nombres, valores))
print (diccionario1)

{'Pedro': 100, 'Juan': 300, 'Carlos': 2000, 'Diego': 1000}

In [113]:
a= list(range(2,5+1))
a

[2, 3, 4, 5]

In [114]:
tmp=0
for var in a:
    
    tmp= var+tmp
    #tmp= tmp+ var
    #tmp += var

print (tmp)

14

In [115]:
ta = (1,2,3,7)
tb = (4,5,6)

L=[]
for a,b in zip(ta,tb):
    L.append(a+b)

print (tuple (L) )

(5, 7, 9)

# Tarea :

- Diseñar un programa que sume dos tuplas de números. 
- Diseñar un programa que pida los valores de dos vectores, y realice el producto punto de estos vectores.  
- Diseñar un programa que pida una nombre y que cambie las vocales por números (Encriptación). Ej. Nombre: Michel y lo cambie a M4ch3l. Utilizando diccionarios.

In [ ]:
word = "Michel"
encripta = dict( [ (y,x) for x,y in enumerate("aeiou")] )
''.join( [ str (encripta.get(c,c)) for c in cad])

In [1]:
!open .

In [7]:
a =  dict ( [ (y,x) for x,y in enumerate("aeiou") ] ) 
a

{'a': 0, 'e': 1, 'i': 2, 'o': 3, 'u': 4}

In [9]:
b = {}
for x,y in enumerate("aeiou"):
    b[y] = x
b

{'a': 0, 'e': 1, 'i': 2, 'o': 3, 'u': 4}

In [150]:
dic_a = {"a":4,"e":3,"i":2,"o":1,"u":0}
cad = "Michel"
cad2=""
for i in cad:
    if i in dic_a:
        cad2+=str(dic_a[i])
    else: 
        cad2+=i
print (cad2)

M2ch3l

In [151]:
print (list(dic_a.values())) 
print (list(dic_a.values()).index(4))
print (dic_a.keys())
print (list(dic_a.keys())[1])

[4, 3, 2, 1, 0]
0
dict_keys(['a', 'e', 'i', 'o', 'u'])
e

In [152]:
dic_b = dict(zip(dic_a.values(),dic_a.keys()))
dic_b

{0: 'u', 1: 'o', 2: 'i', 3: 'e', 4: 'a'}

In [153]:
cad = "M2ch3l"
cad2=""
for i in cad:
    if i.isdigit():
        if int(i) in dic_b:
            cad2+=str(dic_b[int(i)])
            
    else: 
        cad2+=i
print (cad2)

Michel

In [154]:
str.isdigit

In [3]:
di = {"a":1,"b":2}

for i in di:
    print(i,di[i])

a 1
b 2

In [4]:
l = [1,3,4,5,6,7,5]
for a in l:
    print(a)

1
3
4
5
6
7
5

In [7]:
for b in l[2:4]:
    print(b)

4
5

In [12]:
h = [1,l,4, l ,"Hola"]
h

[1, 3, 4, 5, 6, 7, 5]

In [13]:
h[1]

[1, 3, 4, 5, 6, 7, 5]

In [14]:
for i in range(11):
    print (1)

1
1
1
1
1
1
1
1
1
1
1

In [15]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
"Hola"+"    " +"Mundo" +2

TypeError: must be str, not int

In [ ]:

c + b + d